{% extends "layout.html" %}
{% block linksAfterLogin %}
<li><a href="{{ url_for('index') }}" class="nav-link">Home</a></li>

{% endblock %}


{% block errors %}

<section id="contactpage" class="section-padding">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title">
						<h5>500 </h5>
					</div>
				</div>
			</div>

        </div>
    <div class="row">
				<div class="col-12 text-center">
					<div class="section-title-2">
						<h3>OOPS! (500) We are experiencing Problems Please call back later</h3>
					</div>
				</div>


    </div>

</section>

{% endblock errors %}