{% extends "layout.html" %}

{% block walletInfo %}

<a href="{{ url_for('showWallet') }}">
          <span class="material-icons-sharp">Wallet</span>
          <h3>Wallet</h3>
        </a>
{% endblock walletInfo %}

{% block logout %}
<a href="{{ url_for('logout') }}">
          <span class="material-icons-sharp">logout</span>
          <h3>Logout</h3>
        </a>

{% endblock logout %}


{% block market %}
 <main>

      <div class="recent-orders">
        <div class="row my-5">
          <h3 class="fs-4 mb-3">Market Trade Live Prices</h3>
          <div class="col">
              <table>
                    <tr>
                        <th>Rank</th>
                        <th scope="2">Cryptocurrency</th>
                        <th>Price ( in {{ currency }} )</th>
                        <th>Volume</th>
                    </tr>

                    {% for crypto in cryptos %}

                    <tr>
                        <td>{{ crypto["rank"] }}</td>
                        <td><img src="{{ crypto['image'] }}" alt="{{ crypto['name'] }} Symbol"/></td>
                        <td>{{ crypto["name"] }}</td>
                        <td><a href="/coin/{{ crypto['name'] }}">{{ crypto["symbol"] }}<a/></td>
                        <td>{{ crypto["price"] }}</td>
                        <td>{{ crypto["volume"] }}</td>
                    </tr>

                    {% endfor %}
            </table>
          </div>
      </div>
      </div>
    </main>




{% endblock market %}