{% extends "layout.html" %}

{% block linksAfterLogin %}
<li><a href="{{ url_for('market') }}" class="nav-link">Market Trade</a></li>
<li><a href="{{ url_for('p2p') }}" class="nav-link">Peer to Peer Trade</a></li>
<li><a href=" " class="nav-link">Wallet</a></li>
<li><a href="{{ url_for('nft') }}" class="nav-link">NFT</a></li>
<li><a href="/viewUserProfile/{{ email_for_nav }}" class="nav-link">View Profile</a></li>
<li><a href="{{ url_for('logout') }}" class="nav-link">Logout</a></li>


{% endblock %}


{% block walletInfo %}






<section id="pricetable" class="section-padding">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title">
						<h5>Wallet</h5>
                        <h4> {{ wallet.getEncKey() }}</h4>
                        <h5>Total Value of your assets: {{ overall_value}}</h5>

                    </div>
				</div>
			</div>
			<div class="row">
			<script type="text/javascript">
					baseUrl = "https://widgets.cryptocompare.com/";
					var scripts = document.getElementsByTagName("script");
					var embedder = scripts[ scripts.length - 1 ];
					(function (){
					var appName = encodeURIComponent(window.location.hostname);
					if(appName==""){appName="local";}
					var s = document.createElement("script");
					s.type = "text/javascript";
					s.async = true;
					var theUrl = baseUrl+'serve/v1/coin/chartscroller?fsyms=BTC,ETH,XMR,LTC&tsyms=USD,EUR,CNY,GBP';
					s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
					embedder.parentNode.appendChild(s);
					})();
				</script>
			</div>
	<div class="row">
		  <aside>
            <script type="text/javascript">
                baseUrl = "https://widgets.cryptocompare.com/";
                var scripts = document.getElementsByTagName("script");
                var embedder = scripts[ scripts.length - 1 ];
                var cccTheme = {"Conversion":{"lineHeight":"50px"}};
                (function (){
                var appName = encodeURIComponent(window.location.hostname);
                if(appName==""){appName="local";}
                var s = document.createElement("script");
                s.type = "text/javascript";
                s.async = true;
                var theUrl = baseUrl+'serve/v1/coin/multi?fsyms=BTC,ETH,DOGE,SHIB,XRP,LTC,ETC&tsyms=USD,EUR,CNY,GBP';
                s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
                embedder.parentNode.appendChild(s);
                })();
            </script>

        </aside>
				<div class="col-lg-7 col-md-7 col-12 pr-lg-5 pr-md-5 pr-sm-0 pr-0 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="table-responsive">
						<table class="bitland-table table table-striped table-hover">
							<thead>
								<tr>
                                    <th scope="col">Coin</th>
									<th scope="col" width="10px">Name</th>
									<th scope="col" width="10px">Amount</th>
									<th scope="col" >Value(USD)</th>
									<th scope="col" >Trade in P2P</th>


								</tr>
							</thead>
							<tbody>
                                 {% for crypto in owned_cryptos %}
                                     <tr>
                                        <td><img src="{{ owned_cryptos[crypto]['data']['image'] }}" alt="{{ owned_cryptos[crypto]['data']['name'] }}" width="50" height="50"/></td>
                                         <td>{{ owned_cryptos[crypto]['data']['name'] }} (<a href="/coin/{{ owned_cryptos[crypto]['data']['name'] }}">{{ owned_cryptos[crypto]['data']["symbol"]|upper }}</a>)</td>

                                        <td>{{ owned_cryptos[crypto]['amount'] }}</td>
                                        <td>{{ owned_cryptos[crypto]['value'] }}</td>

										 {% set asset_symbol = owned_cryptos[crypto]['data']["symbol"] %}
										 <td class = "btn-style btn-filled"><a style="color:black" href="/dealUpload/{{ asset_symbol }}">Trade</a>  </td>

										 <td class = "btn-style btn-filled"><a style="color:black" href="/transfer/{{ asset_symbol }}"> Transfer</a> </td>

                                     </tr>


                                 {% endfor %}
							</tbody>
						</table>
					</div>
                </div>
    </div>
        </div>
  </section>





{% endblock walletInfo %}
